* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

body {
	background-color: #EFEFEF;
}

header {
	margin: 0 30px;
}

.wrapper {
	background-color: #FFF;
	margin: 70px auto;
	border-radius: 5px;
	width: 90%;
	max-width: 1200px;
	border: 1px solid #AAA;
	box-shadow: 0 0 15px #CCC;
}

form {
	margin-left: 30px;
}

input[type='text'] {
	border-radius: 3px;
	background-color: #EfEFEF;
	padding: 5px;
	border: 1px solid #480581;
}

button {
	border-radius: 3px;
	background-image: linear-gradient(#AC2AD1, #480581);
	color: #FFF;
	font-weight: bold;
	padding: 5px 20px;
	border: 1px solid #480581;
}

button:hover {
	cursor: pointer;
	background-image: linear-gradient(#9D06C8, #270148);
}

.remove {
	display: block;
	margin: 0 auto;
}

main {
	margin: 0 30px 25px 30px;
}

h2 {
	display: inline-block;
	margin: 25px 25px 10px 0;
}

ul {
	padding: 0;
	margin: 10px 0 20px;
}

li {
	margin: 0 15px 30px 15px;
}

.imgBox {
	list-style-type: none;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	background-image: linear-gradient(#9D06C8, #270148);
	padding: 2px;
	border-radius: 2px;
	opacity: .8;
	transition: transform .1s ease-in;
}

.card:hover {
	opacity: 1;
	transform: scale(1.05);
}

.gallery p {
	float: right;
	margin: 30px 0 10px 0;
}

.gallery p a {
	color: #9604BF;
	text-decoration: none;
}

.gallery p a:hover {
	color: #480581;
	text-decoration: underline;
}

.clearfix {
	clear: both;
	content: '';
	display: flex;
}

@media screen and (max-width: 525px) {
	header {
		margin: 0 15px;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 20px;
		margin-right: 40px;
	}

	form {
		margin: 0 15px;
	}

	.gallery p {
		float: left;
		margin: 15px 15px 10px 0;
	}
}

@media screen and (max-width: 360px) {
	input[type='text'] {
		width: 135px;
	}

	main {
		margin: 0 15px 25px 15px;
	}
}